<nav class="navbar bg-light">
<ul class="nav navbar-nav">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="create-product-type">Create product type</a></li>
    <li><a routerLink="create-product-request">Create product request</a></li>
    <li><a routerLink="track-product/2">Track aproduct type</a></li>
    <li><a routerLink="update-product-request/23">Update product request</a></li>
    <li><a routerLink="update-product-status/25">Update product status</a></li>
    <li><a routerLink="warehouse">Warehouse</a></li>
    <li><a routerLink="zone/5">Zone</a></li>
  </ul>
</nav>
<router-outlet> </router-outlet>
